{% extends 'base.html' %}
{%block head_title%}home{% endblock head_title%}
{% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Welcome to Twitter!</h1>
    </div>
</div>
<div class="row md-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" method="POST" id="tweet-create-form" action="/create-tweet/">
            {% csrf_token%}
            <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
            <input type="hidden" value="/" name="next" />
            <textarea required='required' class="form-control" name="content" placeholder="Your tweet...." ></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>
<div class="row" id="tweets">
    <!-- <div id="tweets">
    
    </div> -->
</div>


<script>
    function handleTweetFromError(msg,display){
        var myErrorDiv=document.getElementById('tweet-create-form-error')
        if(display===true){
            //show error
            myErrorDiv.setAttribute('class','d-block alert alert-danger')
            myErrorDiv.innerHTML=msg
        }else{
            //hide error
             myErrorDiv.setAttribute('class', 'd-none alert alert-danger')
        }
    }
    function handleDidLike(tweet_id,currentCount){
        console.log(tweet_id,currentCount)
    }
    function likeBtn(tweet){
        return '<button class="btn btn-primary btn-sm" onClick=handleDidLike("'+tweet.id+'","'+tweet.likes+'")>' + tweet.likes +' Like</button>'
    }
    function formatTweetElement(tweet){
        var formattedTweet= '<div class="col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet" id="tweet-'+tweet.id+'">'+
             '<p>' + tweet.content +
               '</p><div class="btn-group">'+likeBtn(tweet)+
            '</div></div>'
        return formattedTweet
    }
    function handleTweetCreateFormSubmit(event){
        event.preventDefault()
        const myForm=event.target
        const myFormData=new FormData(myForm)
        const url=myForm.getAttribute('action')
        const method= myForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH','XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With','XMLHttpRequest')
        xhr.onload = function () {
            // console.log(xhr.status,serverResponse)
            // const tweetsElement = document.getElementById('tweets')
            // loadTweets(tweetsElement)
            if(xhr.status===201){
                handleTweetFromError("", false)
                const newTweetJson = xhr.response
                //const newTweetJson=JSON.parse(newTweet)
                const newTweetContent=formatTweetElement(newTweetJson)
                // console.log(newTweetContent)
                //tweetsContainerElement.prepend(newTweetContent)
                const ogHtml=tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML=newTweetContent+ogHtml
                myForm.reset()
            }
            else if(xhr.status===400){
                const errorJson=xhr.response
                const contentError=errorJson.content
                let contentErrorMsg;
                if(contentError){
                    contentErrorMsg=contentError[0]
                    if(contentErrorMsg){
                        handleTweetFromError(contentErrorMsg,true)
                    }
                    else{
                        alert('An error occurd.Please try again later!')
                    }
                }
                else{
                    alert('An error occurd.Please try again later!')
                }
                
            }
            else if(xhr.status===500){
                alert('There was a server error.Please try again later!')
            }
        }
        xhr.onerror=function(){
            alert('An error occurred.Please try again later.')
        }
        xhr.send(myFormData)
    }
    const tweetsCreateFormEl=document.getElementById('tweet-create-form')
    tweetsCreateFormEl.addEventListener('submit',handleTweetCreateFormSubmit)
    const tweetsContainerElement=document.getElementById('tweets') //get an html element
    // tweetsElement.innerHTML='Loading...' // set new html in the element

    // var eli1='<h1>Hi there 1</h1>'
    // var eli2 = '<h1>Hi there 2</h1>'
    // var eli3 = '<h1>Hi there 3</h1>'

    // tweetsElement.innerHTML=eli1+eli2+eli3

    function loadTweets(tweetsEl){
        const xhr = new XMLHttpRequest()
        const method = 'GET' // 'POST'
        const url = '/tweets'
        const responseType = 'json'

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function () {
            const serverResponse = xhr.response
            const listedItems = serverResponse.response
            var finalTweetStr = ''
            var i;
            for (i = 0; i < listedItems.length; i++) {
                //console.log(i)
                //console.log(listedItems[i])
                var tweetObj = listedItems[i]
                var currentTweet = formatTweetElement(tweetObj)
                finalTweetStr += currentTweet
            }

            tweetsContainerElement.innerHTML = finalTweetStr
        }

        xhr.send()
    }

    loadTweets(tweetsContainerElement)

    
</script>
{% endblock content %}